.link {
    color: blue;       
    text-decoration: none;  
    font-weight: bold;     
}
  
  
.link:visited {
    color: purple;
}
  

.link:hover {
    color: green;       
    text-decoration: underline;
    font-size: 1.2em;     
}
  

.link:active {
    color: red;           
    font-size: 1.1em;      
}
  