@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

body {
    height: 100vh;
    background-color: #f3eae3;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 40%;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

img {
    width: 50%;
    height: 100%;
}

section {
    width: 50%;
    height: 85%;
    color: #70727e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

p {
    width: 80%;
    font-size: 13px;
    font-weight: 500;
    line-height: 165%;
}

h1 {
    width: 80%;
    font-size: 30px;
    color: black;
    line-height: 97%;
}

#prive-div {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
}

#prive-div p {
    width: min-content;
    font-size: 35px;
    font-weight: 700;
    color: #3d8168;
}

span {
    font-size: 12px;
    font-weight: 500;
    text-decoration: line-through;
}

button {
    width: 80%;
    height: 45px;
    background-color: #3d8168;
    border: 1px solid #3d8168;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.25s;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #3d8168;
}